.langSwitcher {
  position: relative;
  display: flex;
  gap: 0.5rem;
  align-items: center;

  &__button {
    position: relative;
    background: none;
    border: none;
    padding: 0.25rem;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.2s;

    &--active {
      opacity: 1;
    }
  }
}
