@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.header {
  width: 100%;
  padding: 1rem 0;
  background: transparent;
  z-index: 1000; // serve solo se fixed sopra altre cose, qui non serve

  &__content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond-max("md") {
      padding: 0 1.5rem;
    }

    @include respond-max("sm") {
      padding: 0 1rem;
    }
  }

  &__logo {
    position: relative;
    font-weight: bold;
    font-size: 1.125rem;
    color: var(--color-text);
    cursor: pointer;

    &--preview-badge {
      position: absolute;
      top: -6px;
      left: -8px;
      background-color: var(--color-bg-contrast);
      color: var(--color-text-contrast);
      font-size: 12px;
      font-weight: 200;
      padding: 2px 4px;
      border-radius: 4px;
      z-index: 2;
      transform: rotate(-13deg);
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
  }

  &__desktop-actions {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    @include respond-max("md") {
      display: none;
    }
  }

  &__hamburger {
    display: block;
    cursor: pointer;
    position: fixed; // 👈 Ora è fixed
    top: 3rem;
    right: 3rem;
    z-index: 1100; // Sopra header, sopra mobile menu
  }
}
