.hamburger {
  background-color: var(--color-accent);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  cursor: pointer;
}

.hamburger__line {
  width: 16px;
  height: 2px;
  background-color: white;
  border-radius: 1px;
  display: block;
}
