.maintenance__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 2rem;
  text-align: center;
  background-color: var(--background);
}

.maintenance__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.maintenance__language-block {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2rem;
  align-items: center;
}

.maintenance__language {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.maintenance__flag {
  border-radius: 2px;
  object-fit: cover;
}

.maintenance__text {
  font-weight: bold;
}
