.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 2rem;
  text-align: center;
  background-color: var(--background);
}

.box {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
