.loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__barWrapper {
    position: relative;
    width: 220px;
    height: 96px; // 32px * 3 + gap
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__bars {
    display: flex;
    gap: 0.4rem;
    flex-direction: column;
  }

  &__bar {
    background-color: var(--color-accent);
    height: 32px;
    width: 220px;
    transform-origin: center;
    opacity: 1;
  }

  &__logo {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
  }

  &__progressContainer {
    margin-top: 4rem;
    width: 220px;
    height: 12px;
    background-color: var(--color-bg-contrast);
    opacity: 0.8;
    border-radius: 2px;
    overflow: hidden;
  }

  &__progress {
    height: 100%;
    background-color: var(--color-accent);
    width: 0%;
  }
}
