* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
}

html,
body {
  font-family: var(--font-primary);
  background-color: var(--color-bg);
  color: var(--color-text);
  transition:
    background-color 0.8s ease,
    color 0.8s ease;
  min-height: 100vh;
}

html.theme-transition,
body.theme-transition,
.site-wrapper,
.page-bg {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.page-bg {
  background-color: var(--color-bg-contrast); // 👈 la cornice!
  padding: clamp(1rem, 2vw, 2rem); // 👈 responsive fluido
}

.site-wrapper {
  background-color: var(--color-bg); // contenuto vero
  color: var(--color-text);
  border-radius: 0.5rem;
  min-height: 100vh;

  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.03),
    0 0 20px rgba(0, 0, 0, 0.05);
}

.scroll-progress {
  position: fixed;
  top: 0;
  left: 0; // oppure right: 0 per metterla a destra
  width: 4px;
  height: 0; // partiamo da zero
  background-color: var(--color-accent);
  z-index: 9999;
  transition: height 0.2s ease-out;
}
