@use "sass:map";
@use "@/styles/variables" as *;

@mixin respond($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    @media (min-width: map.get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Breakpoint `#{$breakpoint}` non definito.";
  }
}

@mixin respond-max($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    @media (max-width: map.get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Breakpoint `#{$breakpoint}` non definito.";
  }
}

@mixin font-size($key) {
  $sizes: map.get($font-sizes, $key);

  @if $sizes {
    font-size: map.get($sizes, "mobile");

    @include respond("md") {
      font-size: map.get($sizes, "tablet");
    }

    @include respond("lg") {
      font-size: map.get($sizes, "desktop");
    }
  } @else {
    @warn "Font size `#{$key}` non trovato.";
  }
}
