:root {
  // === LIGHT THEME ===
  --color-bg: var(--color-white);
  --color-bg-contrast: var(--color-black);

  --color-text: var(--color-black);
  --color-text-muted: var(--color-gray);
  --color-text-contrast: var(--color-white);

  --color-border: var(--color-border-light);

  --color-surface: var(--color-white-soft);

  --color-accent: var(--color-accent-light);
  --color-accent-rgb: var(--color-accent-light-rgb);
}

[data-theme="dark"] {
  // === DARK THEME ===
  --color-bg: var(--color-black);
  --color-bg-contrast: var(--color-white);

  --color-text: var(--color-white);
  --color-text-muted: var(--color-gray-dark);
  --color-text-contrast: var(--color-black);

  --color-border: var(--color-gray-dark);

  --color-surface: var(--color-black-soft);

  --color-accent: var(--color-accent-dark);
  --color-accent-rgb: var(--color-accent-dark-rgb);
}
