:root {
  --font-primary: 'Inter', sans-serif;

  // semantiche, non legate a un colore reale ora
  --color-primary: ;
  --color-secondary: ;
  --color-tertiary: ;

  --color-bg: ;
  --color-text: ;

  --color-surface: ; // per elementi (card, blocchi)
  --color-accent: ; // per pulsanti o dettagli
  --color-border: ;
}
