@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.story-carousel {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;

  &__scroll-row {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    cursor: pointer;

    &--next {
      justify-content: flex-end;
      position: absolute;
      top: 0;
      right: 0;
      padding-top: 1rem;
      padding-right: 1rem;
    }

    &--prev {
      justify-content: flex-start;
      position: absolute;
      bottom: 0;
      left: 0;
      padding-bottom: 1rem;
      padding-left: 1rem;
    }
  }

  &__line {
    width: 50%;
    height: 2px;
    background-color: var(--color-accent);
    transform-origin: left;
  }

  &__label {
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 500;

    &--before {
      order: -1;
    }

    &--after {
      order: 1;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 0.8fr 1fr; // immagine più compatta
    align-items: center;
    gap: 2rem;
    padding: 5rem 0;

    @include respond-max("md") {
      grid-template-columns: 1fr;
    }
  }

  &__image-wrapper {
    position: relative;
    aspect-ratio: 1 / 1;
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__img {
    object-fit: cover;
  }

  &__box {
    position: absolute;
    background-color: white;
    padding: 0.75rem 1rem;
    border-radius: 12px;
    max-width: 60%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    font-size: 0.9rem;

    &--top {
      top: 1rem;
      left: 1rem;
    }

    &--bottom {
      bottom: 1rem;
      right: 1rem;
      text-align: right;
    }
  }

  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
