@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.about {
  &__description {
    text-align: center;
    margin-bottom: 2rem;
  }

  &__masonry {
    column-count: 3;
    column-gap: 1rem;

    @include respond-max("lg") {
      column-count: 2;
    }

    @include respond-max("sm") {
      column-count: 2;
    }
  }

  &__item {
    break-inside: avoid;
    margin-bottom: 1rem;
  }
}
