.timeline-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--color-border);

  &__index {
    // gestito da <Text variant="label" color="accent" />
    background: var(--color-surface);
    padding: 0.25rem 0.6rem;
    border-radius: 6px;
    width: fit-content;
  }
}
