.section {
  padding: 6rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 50vh; // o almeno 80vh

  &--tight {
    max-width: 900px;
  }

  &__title {
    margin-bottom: 2rem;
    text-align: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}
