.section {
  padding: 6rem 2rem;
  max-width: 1200px;
  margin: 0 auto;

  &__title {
    // delegato a <Text variant="headingM" color="accent" />
    margin-bottom: 2rem;
    text-align: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}
