.section {
  padding: 8rem 2rem;
  max-width: 1400px;
  margin: 0 auto;
  min-height: 50vh;

  &--contrast {
    background-color: var(--color-bg-contrast);
    color: var(--color-text);
    padding-left: 0;
    padding-right: 0;
    max-width: none;
    width: 100%;
  }

  &--tight {
    max-width: 1000px;
  }

  &--full {
    max-width: none;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  &__title {
    margin-bottom: 6rem;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}
