@use "@/styles/mixins" as *;

.experience-list {
  display: flex;
  position: relative;
  padding: 4rem 2rem;

  &__timeline {
    position: relative;
    width: 4px;
    margin-right: 4rem;
    background: var(--color-surface-contrast);
  }

  &__line {
    position: sticky;
    top: 4rem;
    width: 4px;
    height: 150px;
    background: var(--color-accent);
    border-radius: 2px;
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  &__date {
    color: var(--color-accent);
  }

  &__company {
    font-weight: 600;
  }

  &__description {
    line-height: 1.4;
  }

  @include respond-max("sm") {
    padding: 2rem 0;

    &__timeline {
      margin-right: 1.2rem;
    }
  }
}
