@use "@/styles/mixins" as *;

.nav {
  &__wrapper {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    padding: 1rem;
    @include respond-max("md") {
      display: none;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    border-radius: 500px;
    padding: 2rem 3rem;
    backdrop-filter: blur(10px);
    list-style: none;
    margin: 0;
    gap: 1.5rem;
    background: var(--color-bg-contrast);
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__link {
    position: relative;
    text-decoration: none;
    transition: color 0.3s ease;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 2px;
      background-color: var(--color-accent);
      transition:
        width 0.4s ease,
        left 0.4s ease;
    }

    &--active {
      color: var(--color-accent);

      &::after {
        width: 100%;
      }
    }

    &:not(.nav__link--active)::after {
      width: 0;
      left: 0;
    }
  }

  &__text {
    display: inline-block;
    padding-bottom: 2px;
    transition:
      color 0.3s ease,
      border-bottom 0.3s ease;
  }

  &__separator {
    margin: 0 1rem;
    color: var(--color-border);
    opacity: 0.3;
  }
}
